.modules-fr {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
  width: 50vw; 
}

.wd-modules>li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules>li>div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules>li>ul>li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 1px solid gray;
}

.wd-modules>li {
  margin-bottom: 20px;
}

.module-normal-assignment {
  margin-left: 5px;
}

.button-container {
  text-align: right;
}

.button-select {
  background-color: rgb(200, 30, 30);
  border: none;
  color: white;
}

.course-status-button {
  width: 250px;
  text-align: left;
}

.red-link {
  color: rgb(200, 30, 30);
}

.module-buttons {
  display: flex;
  margin: 0px 0px 10px 0px;
  justify-content: flex-start;
  white-space: nowrap;
}

.grey-button {
  background-color: rgb(240, 240, 240);
  color: black;
  border: 1px solid lightgray;
  padding: 5px 10px;
  margin: 0px 2px;
}

.plus-module-button {
  background-color: rgb(200, 30, 30);
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0px 2px;
}

.ellipsis-button {
  background-color: rgb(240, 240, 240);
  color: black;
  border: 1px solid lightgray;
  padding: 5px 10px;
  margin: 0px 2px;
}

