.assignments-fr {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
  width: calc(30vw + 300px);
}

.wd-modules>li {
  background-color: rgb(240, 240, 240);
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules>li>div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules>li>ul>li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 1px solid gray;
}

.wd-modules>li {
  margin-bottom: 20px;
}

.module-normal-assignment {
  margin-left: 5px;
}

.search-container {
  display: flex;
  justify-content: flex-start;
  height: 40px;
  font-size: 14px;
}

.button-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.assignment-buttons {
  display: flex;
  justify-content: space-between;
}