.wd-navigation {
    background-color: white;
    list-style: none;
    padding: 0;
    width: 125px;
    margin: 0;
    margin-left: 20px;
}

.wd-navigation li {
    padding: 10px;
    margin: 10px 0;
}

.wd-navigation li.wd-active {
    border-left: 2px solid black;
}

.wd-navigation li.wd-active a {
    color: black;
}

.wd-navigation a {
    color: rgb(200, 30, 30);
    text-decoration: none;
    font-style: italic; /* Added property */
}

.wd-navigation li a:hover {
    text-decoration: underline;
}
.term-text {
    font-style: italic; 
    margin-left: 20px;
    font-size: 15px;
    color: rgb(125, 115, 115);
}

.course-nav-content {
    margin: -25px 0px 0px 120px;
}