.minibar {
    margin: -5px 0px 0px 20px;
    color: rgb(200, 30, 30);
    font-size: 23px;
}

.course-title {
    font-weight: normal;
    color: rgb(200, 30, 30);
    font-size: 20px;
}

.course-title-greater {
    color: grey;
    margin: 0px 10px 0px 10px;
}

.course-title-path {
    position: relative;
    font-size: 18px;
}

.student-view-button {
    background-color: rgb(240, 240, 240);
    color: black;
    border: 1px solid lightgray;
    padding: 5px 10px;
    margin: -35px 20px 0px 2px;
}

.student-view {
    display: flex;
    justify-content: flex-end;
}

.wd-navbar {
    list-style: none;
}

.card-body {
    max-width: 800px;
}